<!DOCTYPE html>
<html lang="en">
<body>
  <% if (user_id) { %>
    <p>Username: <%= user_id %></p>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</body>
</html>